<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 footer-contact mx-auto">
                    <h3>{{ company.name }}</h3>
                    <p class="text-justify">
                        {{ company.description }}
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 footer-links mx-auto">
                    <h4>Contactos</h4>
                    <ul>
                        <li>
                            <i class="far fa-clock"></i>
                            <a href="#"> <b>Horario: </b> {{ company.horary }}</a>
                        </li>
                        <li>
                            <i class="fas fa-phone-volume"></i>
                            <a href="#"> <b>Teléfono: </b> {{ company.phone }} / +593{{ company.mobile }}</a>
                        </li>
                        <li>
                            <i class="fas fa-envelope"></i>
                            <a href="#"> <b>Email: </b> {{ company.email }}</a>
                        </li>
                        <li>
                            <i class="fas fa-street-view"></i>
                            <a href="#"><b>Dirección: </b> {{ company.address }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-4">
        <div class="mr-md-auto text-center mb-1">
            <div class="copyright">
                &copy; Copyright <strong><span>{{ company.name|upper }}</span></strong>. Todos los derechos reservados
            </div>
            <div class="credits">
                Diseñada por <a href="#">{{ company.proprietor|upper }}</a>
            </div>
        </div>
        <div class="social-links text-center pt-3 pt-md-0">
            {% for social_network in social_networks %}
                <a href="{{ social_network.url }}" target="_blank" class="{{ social_network.css }}"><i class="{{ social_network.icon }}"></i></a>
            {% endfor %}
        </div>
    </div>
</footer>
<!-- End Footer -->