{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{{ title }}</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{{ company.get_image }}" rel="icon">
    <link href="{{ company.get_image }}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'mainpage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'lib/fontawesome-6.1.1/css/all.min.css' %}"/>
    <link href="{% static 'mainpage/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'mainpage/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'mainpage/vendor/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'mainpage/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'mainpage/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'mainpage/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'mainpage/vendor/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="{% static 'mainpage/css/style.css' %}" rel="stylesheet">
    <!-- Vendor JS Files -->
    <script src="{% static 'mainpage/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'mainpage/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!--Formvalidation-->
    <link rel="stylesheet" href="{% static 'lib/formvalidation-1.9.0/css/formValidation.min.css' %}">
    <script src="{% static 'lib/formvalidation-1.9.0/js/es6-shim.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-1.9.0/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-1.9.0/js/plugins/Bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-1.9.0/js/locales/es_ES.min.js' %}"></script>
    <!-- Jquery-Confirm-->
    <script src="{% static 'lib/jquery-confirm-3.3.4/jquery-confirm.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/jquery-confirm-3.3.4/jquery-confirm.min.css' %}"/>
    <!-- Sweetalert2-->
    <script src="{% static 'lib/sweetalert2-11.0.16/js/sweetalert2.all.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/sweetalert2-11.0.16/css/sweetalert2.min.css' %}"/>
    <script src="{% static 'lib/jquery-loading-overlay-2.1.7/js/loadingoverlay.min.js' %}"></script>
    <!-- Main-->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/functions.js' %}"></script>
    <!-- Assets -->
    {% block assets %}

    {% endblock %}
</head>

<body>

<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex">
        <div class="contact-info mr-auto">
            <i class="icofont-envelope"></i> <a href="mailto:contact@example.com">{{ company.email }}</a>
            <i class="icofont-phone"></i> +593 {{ company.mobile }} / {{ company.phone }}
            <i class="icofont-google-map"></i> {{ company.address }}
        </div>
        <div class="social-links">
            {% for social_network in social_networks %}
                <a target="_blank" href="{{ social_network.url }}" class="{{ social_network.css }}"><i class="{{ social_network.icon }}"></i></a>
            {% endfor %}
        </div>
    </div>
</div>

{% include 'mainpage/header.html' %}

{% block content %}
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            <h1>{{ company.name }}</h1>
            <h2>Nosotros proporcionamos servicios veterinarios integrales de la más alta calidad.</h2>
            <a href="{% url 'sign_in' %}" class="btn-get-started scrollto">Registrarse</a>
        </div>
    </section>
    <!-- End Hero -->

    <!-- ======= Main ======= -->
    <main id="main">

        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us">
            <div class="container">

                <div class="row">
                    <div class="col-lg-4 d-flex align-items-stretch">
                        <div class="content">
                            <h3>¿Porque estar con nosotros?</h3>
                            <p>
                                {{ company.with_us }}
                            </p>
                            {#                        <div class="text-center">#}
                            {#                            <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>#}
                            {#                        </div>#}
                        </div>
                    </div>
                    <div class="col-lg-8 d-flex align-items-stretch">
                        <div class="icon-boxes d-flex flex-column justify-content-center">
                            <div class="row">
                                {% for q in qualities %}
                                    <div class="col-xl-4 d-flex align-items-stretch">
                                        <div class="icon-box mt-4 mt-xl-0">
                                            <img alt="" src="{{ q.get_image }}" class="img-fluid d-block mx-auto">
                                            <h4>{{ q.name }}</h4>
                                            <p>{{ q.description }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div><!-- End .content-->
                    </div>
                </div>

            </div>
        </section><!-- End Why Us Section -->

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch">
                        <a href="{{ company.about_youtube }}" class="venobox play-btn mb-4"
                           data-vbtype="video" data-autoplay="true"></a>
                    </div>

                    <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                        <h3>Somos una familia en {{ company.name }}</h3>
                        <p>{{ company.description }}</p>

                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-fingerprint"></i></div>
                            <h4 class="title"><a href="">Misión</a></h4>
                            <p class="description">{{ company.mission }}</p>
                        </div>

                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-gift"></i></div>
                            <h4 class="title"><a href="">Visión</a></h4>
                            <p class="description">{{ company.vision }}</p>
                        </div>

                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-atom"></i></div>
                            <h4 class="title"><a href="">Quienes somos</a></h4>
                            <p class="description">{{ company.about_us }}</p>
                        </div>

                    </div>
                </div>

            </div>
        </section><!-- End About Section -->

        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts">
            <div class="container">
                <div class="row">
                    {% for s in statistics %}
                        <div class="col-lg-3 col-md-6">
                            <div class="count-box">
                                <img alt="" src="{{ s.get_image }}" class="img-fluid d-block mx-auto">
                                <span data-toggle="counter-up">{{ s.cant }}</span>
                                <p>{{ s.name }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section><!-- End Counts Section -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container">

                <div class="section-title">
                    <h2>Servicios</h2>
                    <p></p>
                </div>

                <div class="row">
                    {% for s in services %}
                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-3">
                            <div class="icon-box">
                                <img alt="" src="{{ s.get_image }}" class="img-fluid d-block mx-auto">
                                <h4><a href="">{{ s.name }}</a></h4>
                                <p>{{ s.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </section><!-- End Services Section -->

        <!-- ======= Departments Section ======= -->
        <section id="departments" class="departments">
            <div class="container">

                <div class="section-title">
                    <h2>Departamentos</h2>
                    <p></p>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <ul class="nav nav-tabs flex-column">
                            {% for dep in departments %}
                                <li class="nav-item">
                                    <a class="nav-link{% if forloop.first %} active show{% endif %}" data-toggle="tab"
                                       href="#tab-{{ forloop.counter }}">{{ dep.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-lg-9 mt-4 mt-lg-0">
                        <div class="tab-content">
                            {% for dep in departments %}
                                <div class="tab-pane{% if forloop.first %} active show{% endif %}"
                                     id="tab-{{ forloop.counter }}">
                                    <div class="row">
                                        <div class="col-lg-8 details order-2 order-lg-1">
                                            <h3>{{ dep.name }}</h3>
                                            <p class="font-italic">{{ dep.title }}</p>
                                            <p>{{ dep.description }}</p>
                                        </div>
                                        <div class="col-lg-4 text-center order-1 order-lg-2">
                                            <img alt="" src="{{ dep.get_image }}"
                                                 class="img-fluid img-thumbnail d-block mx-auto">
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Departments Section -->

        <!-- ======= Doctors Section ======= -->
        <section id="doctors" class="doctors">
            <div class="container">

                <div class="section-title">
                    <h2>Doctores</h2>
                    <p></p>
                </div>

                <div class="row">
                    {% for team in teams %}
                        <div class="col-lg-6">
                            <div class="member d-flex align-items-start">
                                <div class="pic">
                                    <img alt="" src="{{ teamget_image }}" class="img-fluid">
                                </div>
                                <div class="member-info">
                                    <h4>{{ team.names }}</h4>
                                    <span>{{ team.job }}</span>
                                    <p>{{ team.phrase }}</p>
                                    <div class="social">
                                        {% for detail in team.teamsocialnetworks_set.all %}
                                            <a href="{{ detail.url }}" target="_blank"><i class="{{ detail.icon }}"></i></a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </section><!-- End Doctors Section -->

        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="faq" class="faq section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Preguntas frecuentes</h2>
                    <p></p>
                </div>

                <div class="faq-list">
                    <ul>
                        {% for f in frequent_questions %}
                            <li data-aos="fade-up" data-aos-delay="{{ forloop.counter }}00">
                                <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse"
                                                                               href="#faq-list-{{ forloop.counter }}">{{ f.question }}
                                <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                                <div id="faq-list-{{ forloop.counter }}"
                                     class="collapse{% if forloop.first %} show{% endif %}" data-parent=".faq-list">
                                    <p>{{ f.answer }}</p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </section><!-- End Frequently Asked Questions Section -->

        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
            <div class="container">

                <div class="owl-carousel testimonials-carousel">
                    {% for t in testimonials %}
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="{{ t.get_image }}"
                                     class="testimonial-img"
                                     alt="">
                                <h3>{{ t.names }}</h3>
                                <h4>{{ t.job }}</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    {{ t.description }}
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </section><!-- End Testimonials Section -->

        <!-- ======= Gallery Section ======= -->
        <section id="gallery" class="gallery">
            <div class="container">

                <div class="section-title">
                    <h2>Galería</h2>
                    <p></p>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row no-gutters">
                    {% for g in gallery %}
                        <div class="col-lg-3 col-md-4">
                            <div class="gallery-item">
                                <a href="{{ g.get_image }}" class="venobox"
                                   data-gall="gallery-item">
                                    <img src="{{ g.get_image }}" alt="" class="img-fluid">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </section><!-- End Gallery Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <h2>Contactos</h2>
                    <p></p>
                </div>
            </div>

            <div>
                <div id="map"></div>
                <script src="https://maps.googleapis.com/maps/api/js?key={{ key_google_maps }}"></script>
            </div>

            <div class="container">
                <div class="row mt-5">
                    <div class="col-lg-12 col-md-6">
                        <form action="{% url 'index' %}" id="frmComments" method="post" class="" autocomplete="off">
                            {% for field in form.visible_fields %}
                                <div class="form-group">
                                    <label><b>{{ field.label }}:</b></label>
                                    {{ field }}
                                </div>
                            {% endfor %}
                            <div class="text-center">
                                <button class="btn btn-primary btnSendCommets" type="submit"><i
                                        class="fas fa-envelope"></i>
                                    Enviar comentario
                                </button>
                            </div>
                        </form>

                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main>
    <!-- End #main -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
    <a href="https://wa.me/593{{ company.mobile }}"
       target="_blank" class="phone-whatsapp" data-toggle="tooltip"
       title="Para cualquier pregunta puedes contactarme !!">
        <i class="fab fa-whatsapp fa-2x"></i>
    </a>

    {% include 'mainpage/footer.html' %}

    <!-- Send Comments-->
    <script src="{% static 'mainpage/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'mainpage/vendor/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'mainpage/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'mainpage/vendor/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'mainpage/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'mainpage/js/main.js' %}"></script>
    <script src="{% static 'mainpage/js/send_comments.js' %}"></script>
    <script>
        function initMap() {
            const myLatLng = {
                lat: {{ company.latitude }}, lng: {{ company.longitude }}
            }
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 16,
                center: myLatLng
            });

            const marker = new google.maps.Marker({
                position: myLatLng,
                map,
                title: "Hello World!"
            });

            const infowindow = new google.maps.InfoWindow({
                content: '<p>' + "{{ company.name }}" + '</p>'
            });

            marker.addListener("click", () => {
                infowindow.open(map, marker);
            });

        }

        $(function () {
            initMap();
        });
    </script>
{% endblock %}
</body>
</html>