{% extends 'sale/employee/list.html' %}
{% load static %}
{% block assets_sale_list %}
    <script src="{% static 'sale/client/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <th>Id</th>
    <th>Tipo</th>
    <th>Veterinario</th>
    <th>Mascota</th>
    <th>Fecha de registro</th>
    <th>Hora</th>
    <th>Subtotal</th>
    <th>Iva</th>
    <th>Total</th>
    <th>Estado</th>
    <th class="text-center">Opciones</th>
{% endblock %}

{% block box_footer_buttons %}
    <a href="{{ create_url }}" class="btn btn-primary btn-flat">
        <i class="fas fa-first-aid"></i> Nueva Cita Médica
    </a>
    <a href="{{ list_url }}" class="btn btn-success btn-flat">
        <i class="fas fa-sync-alt"></i> Actualizar
    </a>
{% endblock %}