{% extends 'form.html' %}
{% load static %}
{% block assets_form %}
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/bootstrap-touchspin-4.2.5/css/jquery.bootstrap-touchspin.css' %}"/>
    <script src="{% static 'lib/bootstrap-touchspin-4.2.5/js/jquery.bootstrap-touchspin.js' %}"></script>
    <script src="{% static 'lib/tempusdominus-bootstrap-4.5.37.0/js/tempusdominus-bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/tempusdominus-bootstrap-4.5.37.0/css/tempusdominus-bootstrap.css' %}"/>
    <script src="{% static 'sale/employee/js/form.js' %}"></script>
{% endblock %}

{% block form_fields %}
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label>{{ form.type.label }}:</label>
                {{ form.type }}
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>{{ form.date_joined.label }}:</label>
                {{ form.date_joined }}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>{{ form.mascot.label }}:</label>
                {{ form.mascot }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label>{{ form.subtotal.label }}:</label>
                {{ form.subtotal }}
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>{{ form.iva.label|upper }}:</label>
                {{ form.iva }}
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>{{ form.total_iva.label|upper }}:</label>
                {{ form.total_iva }}
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label>{{ form.total.label }}:</label>
                {{ form.total }}
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs" id="myTab">
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#home">
                Datos Médicos <i class="fa"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">
                Productos
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">
                Vacunas
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu3">
                Historial Médico
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane container-fluid active" id="home">
            <br>
            <div class="form-group">
                <label>{{ form.observation.label }}:</label>
                {{ form.observation }}
            </div>
            <div class="form-group">
                <label>{{ form.symptoms.label }}:</label>
                {{ form.symptoms }}
            </div>
            <div class="form-group">
                <label>{{ form.diagnosis.label }}:</label>
                {{ form.diagnosis }}
            </div>
        </div>
        <div class="tab-pane container-fluid fade" id="menu1">
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Búsqueda de Productos:</label>
                        <div class="input-group input-group-search">
                            <input type="text" class="form-control" autocomplete="off" name="search_products" placeholder="Ingrese el nombre de un producto">
                            <div class="input-group-append">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-tasks"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;">
                                    <a class="dropdown-item btnSearchProducts">
                                        <i class="fas fa-search"></i> Buscar productos
                                    </a>
                                    <a class="dropdown-item btnClearProducts">
                                        <i class="fas fa-times"></i> Limpiar búsqueda
                                    </a>
                                    <a class="dropdown-item btnRemoveAllProducts">
                                        <i class="fas fa-trash-alt"></i> Borrar todo
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table style="width:100%;" class="table table-bordered"
                   id="tblProducts">
                <thead>
                <tr>
                    <th style="width: 5%;">Eliminar</th>
                    <th style="width: 20%;">Producto</th>
                    <th style="width: 15%;">Categoría</th>
                    <th style="width: 10%;">Stock</th>
                    <th style="width: 15%;">Cantidad</th>
                    <th style="width: 20%;">P./Unitario</th>
                    <th style="width: 15%;">Subtotal</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="tab-pane container-fluid fade" id="menu2">
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Búsqueda de Vacunas:</label>
                        <div class="input-group input-group-search">
                            <input type="text" class="form-control" autocomplete="off" name="search_vaccines" placeholder="Ingrese el nombre de una vacuna">
                            <div class="input-group-append">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-tasks"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right"
                                     style="cursor: pointer;">
                                    <a class="dropdown-item btnSearchVaccines">
                                        <i class="fas fa-search"></i> Buscar productos
                                    </a>
                                    <a class="dropdown-item btnHistoryMedicines">
                                        <i class="fas fa-calendar-alt"></i> Ver historial de vacunas
                                    </a>
                                    <a class="dropdown-item btnClearVaccines">
                                        <i class="fas fa-times"></i> Limpiar búsqueda
                                    </a>
                                    <a class="dropdown-item btnRemoveAllVaccines">
                                        <i class="fas fa-trash-alt"></i> Borrar todo
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table style="width:100%;" class="table table-bordered" id="tblVaccines">
                <thead>
                <tr>
                    <th style="width: 5%;">Eliminar</th>
                    <th style="width: 20%;">Producto</th>
                    <th style="width: 10%;">Imagen</th>
                    <th style="width: 15%;">Fecha de registro</th>
                    <th style="width: 15%;">Proxima vacuna</th>
                    <th style="width: 10%;">Stock</th>
                    <th style="width: 15%;">Cantidad</th>
                    <th style="width: 10%;">P./Unitario</th>
                    <th style="width: 10%;">Subtotal</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="tab-pane container-fluid fade" id="menu3">
            <br>
            <a class="btn btn-success btn-sm btn-flat btnSearchMedicalHistory">
                <i class="fas fa-search"></i> Ver historial médico
            </a>
            <table style="width:100%;" class="table table-bordered" id="tblMedicalParameter">
                <thead>
                <tr>
                    <th style="width: 25%;">Parámetro</th>
                    <th style="width: 15%;">U.Valor</th>
                    <th style="width: 15%;">Valor</th>
                    <th style="width: 45%;">Observación</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block content_form_before %}
    <div id="myModalSearchProducts" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold">
                        <i class="fa fa-search" aria-hidden="true"></i> Búsqueda de productos
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <table style="width:100%;" class="table table-bordered" id="tblSearchProducts">
                            <thead>
                            <tr>
                                <th style="width: 50%;">Nombre</th>
                                <th style="width: 15%;">Tipo</th>
                                <th style="width: 15%;">P./Unitario</th>
                                <th style="width: 10%;">Stock</th>
                                <th style="width: 10%;">Agregar</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalSearchVaccines" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold">
                        <i class="fa fa-search" aria-hidden="true"></i> Búsqueda de vacunas
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <table style="width:100%;" class="table table-bordered" id="tblSearchVaccines">
                            <thead>
                            <tr>
                                <th style="width: 50%;">Nombre</th>
                                <th style="width: 15%;">Tipo</th>
                                <th style="width: 15%;">P./Unitario</th>
                                <th style="width: 10%;">Stock</th>
                                <th style="width: 10%;">Agregar</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalMedicalHistory" class="modal fade" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold">
                        <i class="fa fa-search" aria-hidden="true"></i> Historial Médico
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <table style="width:100%;" class="table table-bordered" id="tblMedicalHistory">
                            <thead>
                            <tr>
                                <th>Fecha de registro</th>
                                {% for parameter in medical_parameter %}
                                    <th>{{ parameter.name }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalMedicinesHistory" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold">
                        <i class="fa fa-search" aria-hidden="true"></i> Historial de Vacunas
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <table style="width:100%;" class="table table-bordered"
                               id="tblMedicinesHistory">
                            <thead>
                            <tr>
                                <th>Fecha de registro</th>
                                <th>Medicamento</th>
                                <th>Categoría</th>
                                <th>Próxima vacuna</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        $(function () {
            sale.detail.iva = {{ company.get_iva }};
            sale.listProducts();
        });
    </script>
{% endblock %}